@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&display=swap')

$burgundy : #5f2e41
$blue : #73e9d9
$pink : #f168a2
$purple : #703480
$creme : #f8e5d4

body
    background: $burgundy

.container
    max-width: 1520px

.nav_link
    position: relative
    &::after
        content: ""
        position: absolute
        left: 50%
        bottom: 6px
        display: block
        width: 0%
        height: 2px
        border-radius: 2px
        background: $pink
        transition: all .3s ease
    &:hover, &.active
        &::after
            left: 40%
            width: 20%

.bg_img
    position: absolute
    top: 0
    left: 0
    z-index: 3
    background-size: cover
    background-position: center bottom

.purple_bg
    position: absolute
    top: 50%
    left: 50%
    width: 100vw
    height: auto
    z-index: 1
    transform: translate(-50%, -50%)
    background-size: 100%
    background-repeat: no-repeat
    background-position: center
    @media screen and (max-width: 1080px)
        width: auto
        height: 100vh

.shadow_bg
    display: block
    position: absolute
    width: 1600px
    height: 1600px
    top: -280px
    left: -27%
    z-index: 4
    @media screen and (min-width: 1600px)
        left: calc(50% - 1200px)

.shadow_nav
    display: block
    position: absolute
    top: 0
    left: 0
    z-index: 10
    width: 100%
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center center

.nav
    position: relative
    z-index: 999

.cta
    position: relative
    overflow: hidden
    span
        position: relative
        z-index: 1
    &::after
        content: ""
        display: block
        position: absolute
        z-index: 0
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: .5
        background: rgb(241,104,162)
        background: -moz-linear-gradient(349deg, rgba(241,104,162,1) 0%, rgba(241,104,162,1) 20%, rgba(241,104,162,0) 100%)
        background: -webkit-linear-gradient(349deg, rgba(241,104,162,1) 0%, rgba(241,104,162,1) 20%, rgba(241,104,162,0) 100%)
        background: linear-gradient(349deg, rgba(241,104,162,1) 0%, rgba(241,104,162,1) 20%, rgba(241,104,162,0) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f168a2",endColorstr="#f168a2",GradientType=1)
        transition: all .3s ease
    &:hover
        &::after
            opacity: .3